.text_gradient {
  background: linear-gradient(90deg, #001497 0%, #3B5BFF 50%, #0022FF 92%);
  -webkit-background-clip: text;
	font-weight: bold;
	font-size: 1.5vw;
  background-clip: text;
  color: transparent;
}

.noselect {
	user-select: none; 
  -webkit-user-drag: none; 
  -moz-user-select: none;
  -ms-user-select: none;
}

@media (max-width: 600px) {
	.text_gradient {
		font-size: 3vw;
	}
}