.text_gradient_animate {
  background: linear-gradient(90deg, #001497 0%, #3B5BFF 50%, #0022FF 92%);
  -webkit-background-clip: text;
	font-weight: bold;
  width: 0;
  overflow: hidden;
  display: block;
  white-space: nowrap;
	font-size: 1em;
  background-clip: text;
  color: transparent;
  border-right: solid #001497 2px;
  animation: mark 1s step-end infinite, write1 10s steps(22, end) infinite;
}
@media (max-width:600px) {
  .text_gradient_animate {
    font-size: 0.8rem;
    width: 14.6rem;
    animation: mark 1s step-end infinite, write4 10s steps(22, end) infinite; 
  }
}
@media (max-width:350px) {
  .text_gradient_animate {
    font-size: 0.6rem;
    width: 11.1rem;
    animation: mark 1s step-end infinite, write3 10s steps(22, end) infinite; 
  }
}
@media (min-width: 1300px){
  .text_gradient_animate {
    font-size: 1.5vw;
    width: 11.1rem;
    animation: mark 1s step-end infinite, write3 10s steps(22, end) infinite; 
  } 
}
@keyframes mark {
  50% {
    border-right-color: transparent;
  }
}
@keyframes write2 {
  20% {
    width: 11.2rem;;
  }
  70% {
    width: 11.2rem;;
  }
  85% {
    width: 0;;
  }
  100% {
    width: 0;
  }
}
@keyframes write1 {
  20% {
    width: 18.5rem;;
  }
  70% {
    width: 18.5rem;;
  }
  85% {
    width: 0;;
  }
  100% {
    width: 0;
  }
}
@keyframes write3 {
  20% {
    width: 27.5vw;;
  }
  70% {
    width: 27.5vw;
  }
  85% {
    width: 0;;
  }
  100% {
    width: 0;
  }
}
@keyframes write4 {
  20% {
    width: 14.6rem;
  }
  70% {
    width: 14.6rem;
  }
  85% {
    width: 0;;
  }
  100% {
    width: 0;
  }
}

.noselect {
	user-select: none; 
  -webkit-user-drag: none; 
  -moz-user-select: none;
  -ms-user-select: none;
}

@media (max-width: 600px) {
	.text_gradient {
		font-size: 3vw;
	}

}